<!DOCTYPE html>
<html>
<head>
	<title>Power Rat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<link rel="stylesheet"  href="app/asset/stylesheets/c3.css" type="text/css">
	<script src="app/asset/javascripts/c3.js"></script>
	<script src="app/asset/javascripts/jquery-1.11.2.js"></script>
</head>
<body>
	<div>버튼</div>
	<div id="chart2"></div>
	<div id="testChart"></div>

	<script>
		var chart = c3.generate({
    	data: {
        	columns: [
            	['기숙사1', 50],
            	['기숙사2', 120],
            	['기숙사3', 150],
            	['기숙사4', 250],
        	],
        	type : 'donut'
    	},
    	donut: {
    	    title: "현재까지 소모한 전력량"
    	},
		bindto: '#chart2'
		});
		var ccc = c3.generate({
    	data: {
        	columns: [
            	['기숙사1', 10],
            	['기숙사2', 20],
            	['기숙사3', 15],
            	['기숙사4', 35],
        	],
        	type : 'donut'
    	},
    	donut: {
    	    title: "실시간 전력소모량"
    	},
		bindto: '#testChart'
		});
	</script>
	<script>
	function usage_all(){
		$.ajax({
			url	: '/sites/usage_all?timestamp=' + new Date().getTime()
			,type	: 'GET'
			,cache	: 'false'
			,success	: function(data){
				var usage_array = []
				for (i = 0 ; i < data.length ; i++){
					usage_array[i] = [data[i].name, data[i].usage]
				}
				var chart = c3.generate({
				    data: {
					columns: usage_array,
 					type : 'donut'
				    },
				    donut: {
			    		title: "현재까지 소모한 전력량"
				    },
				    bindto: '#chart2'
				});
			}
		})
	}
	</script>
</body>
